<div class="jumbotron">
  <h2>My Awesome Blog!</h2>
  <p class="lead">
    Really, you could put anything here that explains to your readers what your blog is all about!
  </p>
  <%= link "View All Posts", to: Routes.post_path(@conn, :index), class: "button primary expanded" %>
</div>